/* General */
footer {

    position: relative;
    bottom: 100%;

}

.fondo-claro {

    background-color: #CCDBDC;

}

.color-yellow {

    color: yellow;

}

.color-regular {

    color: #007EA7 !important;

}

.color-oscuro {

    color: #003249;

}

.fondo-oscuro {

    background-color: #003249 !important;

}

* {

    padding: 0;
    margin: 0;
    color: #80CED7;
    text-decoration: none !important ;

}

footer {

    margin-top: 3em;
    display: fixed;
    bottom: 0;
    left: 0;
    background-color: #003249;

}

.cabezera {

    background-color: #007EA7;

}

.fuente-base{

    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    

}

.cuerpo {

    background-color: #80CED7;

}

#user {

    margin: 0.1em 0;
    width: 1.5em;
    height: 1.5em;
    background-color: #80CED7;
    text-align: center;
    font-size: 2em;
    padding: 0;
    overflow: hidden;

}

/* registro */

.titulo-registro {

    margin-top: 1em;
    color: #007EA7;

}

.columna-tipo1 {

    background-color: #CCDBDC;
    height: auto;
    

}

.columna-tipo2 {

    background-color: #003249;
    height: auto;
    padding-bottom: 2em;

}

.input-registro {

    color:  #007EA7 !important;
    background: transparent !important;
    border: none !important;
    border-bottom: 2px solid #007EA7 !important;
    
}

.input-registro::placeholder {

    color:  #007EA7 !important;
    
}

.botonRegistro {

    color:  #CCDBDC !important;
    background-color: #003249 !important;
    font-family: "Alfa Slab One", serif !important;
    font-size: 1.5em !important;
}

.iconoUsuario {

    margin-top: -10px;
    

}

#imagenRegistro {

    display: none;

}

/* Pagina principal */

.circulo-añadir {

    margin: 0.1em 0;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    font-size: 2em;
    padding: 0;
    overflow: hidden;

}

#cuerpoHabitos {

    background-color: #CCDBDC;

}

/* pagina de dias */

.chulo {

    font-size: 1em;
    color: green;
    position: relative;
    bottom: 50%;

}

/* Zona de comentarios */

#cuerpoComentarios {

    overflow: scroll;
    height: 25em;
    scrollbar-width: none;

}

#enviar {

    width: 1.5em;
    height: 1.5em;
    padding-right: 1.5em;

}

/* Seccion de amigos */

.circulo-usuario {

    width: 4em;
    height: 4em;
    overflow: hidden;

}